/dts-v1/;
/plugin/;

/ {
    compatible = "allwinner,sun8i-h2-plus";
};

&{/soc} {
    tm1637@0 {
	compatible = "tm1637";
	gpios = <&pio 2 4 0
	         &pio 2 7 0>;
	scl = <0>; // PC4 (16)
	sda = <1>; // PC7 (18)
	status = "okay";
    };
};
